.panel {
  height: 100%;
  width: 70%;
  margin-right: 10px;
  background-color: rgb(213, 213, 241);
}

.example {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(243, 237, 230);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  height: 250px;

  &__panel {
    min-width: 200px;
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  &__element {
    display: block;
    margin: 6px 0;
    width: 90%;
  }
}
