<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Examples
    body
        //- .slider-example
        //-     .panel
        //-         input(type='number' id='panel_1')
        //-         label(for='check_1') Label
        //-         input(type='checkbox' id='check_1')
        //-         select#select_slider
        //-             option(value="vertical") Vertical
        //-             option(value="horizontal") Horizontal
        //- .slider-example2