.slider {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  display: flex;

  &__track {
    background-color: rgb(250, 248, 248);
    border: 1px solid gray;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }

    &_horizontal {
      height: 6px;
      width: 100%;
    }

    &_vertical {
      width: 6px;
      height: 100%;
    }
  }

  &__fill {
    background-color: rgb(118, 113, 119);
    position: absolute;
    top: 0;
    border-radius: 4px;

    &_horizontal {
      height: 6px;
      top: 1px;
    }

    &_vertical {
      width: 6px;
    }
  }

  &__pointer {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(38, 38, 44);
    border-radius: 100%;

    &:hover {
      background-color: black;
    }

    &_horizontal {
      top: -5px;
    }

    &_vertical {
      left: -5px;
    }
  }

  &__tip {
    position: absolute;
    padding: 4px 10px;
    background-color: rgb(28, 32, 15);
    color: white;
    border-radius: 8px;
    white-space: nowrap;
    cursor: default;

    &_horizontal {
      top: -40px;
    }

    &_vertical {
      left: 20px;
    }
  }

  &__min-max {
    display: flex;
    justify-content: space-between;

    &_horizontal {
      flex-direction: row;
      position: absolute;
      width: 100%;
      top: 20px;
    }

    &_vertical {
      flex-direction: column-reverse;
      position: absolute;
      left: -40px;
      height: 100%;
      text-align: right;
    }
  }

  &__range {
    cursor: pointer;
  }
}
