.slider {
    width: 100%;
    height: 20px;
    position: relative;
    background-color: pink;

    &__marker {
        position: absolute;
        z-index: 5;
        width: 20px;
        height: 20px;
        //border-radius: 50%;
        background-color: red;
        opacity: .5;
    }

    &__fill {
        position: absolute;
        top: 0;
        background-color: purple;
        height: 100%;
        //width: 100%;

        &--vertical {
            width: 100%;
            height: auto;
            bottom: 0;
        }
    }

    &__label {
        position: absolute;
        border-radius: 50%;
        top: -30px;
        left: -4px;
        width: 28px;
        height: 28px;
        background-color: blueviolet;
        color: white;
        font-size: 1em;
        line-height: 1.6;
        text-align: center;

        &--vertical {
            top: 0;
            left: 30px;
        }
    }

    &--vertical {
        height: 100%;
        width: 20px;
    }
}

.slider-example {
    width: 400px;
    height: 400px;
    margin: 30px auto;
}